.comment-page ul{
    border: 1px solid grey;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.comment-page ul li{
    margin-right: 20px;
    font-weight: 350;
    font-size: 1em;
    list-style: none;
    text-align: center;
    display: inline-block;
}


.search_button{
    width: 90px;
    height: 30px;
    left: 10px;
    text-align: center;
}