.active_users{
    font-family: Arial, serif;
    height: auto;
    width: 350px;
    position: absolute;
    display: block;
    float: right;
    margin: auto 1130px;
}

.hot_users_title{
    margin-left: 15px;
    color: red;
    font-style: italic;
    font-size: 100%;
}

.user_paper{
    border: 1px solid black;
    display: block;
    text-align: center;
    min-width: 350px;
    margin: 10px;
}

.avatar{
    margin: 10px;
    width: 150px;
}

.description{
    text-align: center;
    margin-left: 5px;
}