.active_users {
    font-family: Arial, serif;

    width: 25%;
    position: absolute;
    display: inline-block;
    float: left;
    left: 72%;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.hot_users_title {
    margin-left: 15px;
    color: red;
    font-style: italic;
    font-size: 100%;
}

.user_paper {

    display: block;
    text-align: center;
    border: 1px solid grey;
    margin: 10px;
}

.avatar {
    margin: 20px;
    width: 125px;
}

.description {
    text-align: center;
    margin-left: 5px;
}
