
.postoverview {
    height: 100%;
    width: 100%;
}

.postsubpaper {

    margin: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 345px;
    display: inline-block;
    height: 350px;
}

.sub_img {
    margin-top: 20px;
    width: 300px;
    height: 150px;
}

.subtitle {
    margin-top: -10px;
    font-weight: 500;
}

.src {
    margin: 10px;
    color: grey;
}

.Grid {
    padding: 40px;
}

.topics-grid {

    position: relative;
    margin-top: 10px;
    left: 9%;
}

.upload-input {
    display: none;
}

.topics-input {
    width: 30%;
    position: relative;
    float: left;
    left: 37%;
    top: -15px;
    text-align: center;
}

.input-grid{
    border-bottom: 1px solid grey;
    height: 125px;
}

.create-button {
    position: relative;
    float: left;
    left: 2%;
    top: 60px;
    width: 30%;
}

.upload-button {
    float: left;
    position: relative;
    left: 37%;
    width: 5%;
}

.topic-delete-button {
    width: 10%;
    top: -70px;
    left: 300px;
}

a {
    text-decoration: none;
    color: black;
}

a:PostPage {
    text-decoration: underline
} 

