
.postoverview {
    height: 100%;
    width: 100%;
}

.input-topic {
    border-bottom: 1px solid grey;
}

.postsubpaper {

    margin: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 345px;
    display: inline-block;
    height: 350px;
}

.sub_img {
    margin: 10px;
    width: 300px;
    height: 150px;
}

.subtitle {
    margin-top: -10px;
    font-weight: 500;
}

.src {
    margin: 10px;
    color: grey;

}

.Grid {
    padding: 40px;

}

.topic-grid {
    float: left;
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0%);
    width: 400px;
}

.upload-input {
    display: none;
}

.topic-input {
    width: 345px;
    height: 100px;
    position: relative;
    left: 40%;
    top: 100%;
    transform: translate(-50%, 0%);

}

.upload-button {

    position: relative;
    left: 33%;
    top: 10px;
    transform: translate(-50%, 0%);

    display: inline;

}

.topic-delete-button {
    width: 10%;
    top: -32px;
    left: 300px;

}

a {
    text-decoration: none;
    color: black;
}

a:PostPage {
    text-decoration: underline
} 

