.HotTag{
    font-family: Arial, serif;
    background-color: white;

    position: absolute;
    
    left: 5%;
    float: left;
    width: 20%;

    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}



.hot_tags_title{

    font-style: italic;
    color: red;
}

.tag_title{
    width: auto;
}

.no_img{
    background-color: #33CCFF;
}

