.row{
	position: relative;
	margin-top: 10px;
	font-family: Aerial;
	border-bottom: 1.5px solid grey;
	background-color: white;
	height: 100%;
}

.user-icon{
	float: left;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: 5px;
}

.delete-button{
	height: 15px;
	width: 15px;
	float: right;
}

.post-user{
	float: left;
}

.post-info{
	
	padding-top: 5px;
	padding-left: 35px;
	width: 500px;
	table-layout: fixed;
	word-wrap: break-all;
	word-break: break-all;
	overflow: hidden;
}