.HotNews{
    display: inline-block;
    position: absolute;
    left: 25%;
    
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;

}

.paper{
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    width: 700px;
}

.subpaper{
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 345px;
    display: inline-block;
    min-height: 450px;

}

.news_img{
    margin: 10px;
    width: 650px;
    height: 350px;
}

.sub_img{
    margin: 10px;
    width: 300px;
    height: 150px;
}

.subtitle{
    margin-top: -10px;
    font-weight: 500;
}

.src{
    margin: 10px;
    color: grey;

}

.button{
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
}