/* Styles for the Welcome Page Component*/

.welcome_page {
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-image: url("./static/welcome_page_img.jpg");
    background-repeat: no-repeat;
}


.welcome_button {
    position: absolute;
    width: 21%;
    height: 5%;
    top: 65%;
    left: 19%;
    border: 0 solid transparent;
    text-align: center;
    display: inline-block;
}

html {
    font-size: 1.5em;
}
