.header_img{
    background-attachment: fixed;
    height: 350px;
    display: block;
    width: 100vw;
}

.cov19-update{
    margin-top: 0;
    text-align: center;
    background-color: #000099;
    color: white;
    font-weight: 400;
    border: 1px solid #3300FF;
}

.homepage{
    position: absolute;
    width: 100%;
    height: auto;
}
