.header_img{
    background-attachment: fixed;
    height: 350px;
    display: block;
    width: 100vw;
}

.homeicon{
    position: absolute;
    left: 4px;
    width: 10px;
    height: 10px;
}

.cov19-update{
    margin-top: 0;
    text-align: center;
    background-color: #000099;
    color: white;
    font-weight: 400;
    border: 1px solid #3300FF;
}

.homepage{
    position: absolute;
    width: 100%;
    height: auto;
}


.homepage ul{
    border: 1px solid grey;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.homepage ul li{
    margin-right: 20px;
    font-weight: 350;
    font-size: 1em;
    list-style: none;
    text-align: center;
    display: inline-block
}


.search_button{
    width: 90px;
    height: 30px;
    left: 10px;
    text-align: center;
}

a{
    
    color: black;
}

a:hover{
    text-decoration:underline
} 