.top_menu {
    border: 1px solid grey;
    width: 100%;
}

.top_menu ul {
    list-style-type: none;
    margin: 0;
}

.top_menu ul li {
    margin-right: 20px;
    font-weight: 350;
    font-size: 1em;
    list-style: none;
    text-align: center;
    display: inline-block
}


.search_button {
    width: 90px;
    height: 30px;
    left: 10px;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline
} 