.comment-title {
    position: relative;
    font-style: 1em;
    font-weight: 400;
    left: 11%;
    border-bottom: 1px solid grey;
    width: 81%;
    color: grey;
}

.comment-list {
    position: relative;
    left: 5%;
    margin: 20px;
    float: left;
    width: 90%;
}

.comment-input {
    position: relative;
    float: left;
    width: 80%;

}

.no-comment-title {
    position: relative;
    left: 11%;
    color: #FF0000;
}


a {
    text-decoration: none;
    color: black;
}

a:CommentPage {
    text-decoration: underline
} 