.login_page{
	position: absolute;
	width: 100%;
  	height: 100%;
	background-image: url("./static/login.jpg");
	background-size: cover;
	background-repeat: no-repeat ;

}

.main{
	position: fixed;
	top: 40%;
	left: 35%;
}