.topic-title {
    position: relative;
    font-style: 1em;
    font-weight: 400;
    left: 11%;
    border-bottom: 1px solid grey;
    width: 81%;
}

.post-list {
    position: relative;
    left: 5%;
    margin: 20px;
    float: left;
    width: 90.2%;
}

.post-input {
    position: relative;
    float: left;
    width: 80%;
}

.back{
    float: left;
    display: inline;
    position: absolute;
    top: 55px;
    margin-left: 10px;
    color: #3300FF;
    font-size: 0.8em;
    font-weight: 400; 
}

.arrow{
    position: relative;
    top: 12px;
    margin-left: 5px;
}

a:hover {
    color:black;
    text-decoration: underline
}

a {
    text-decoration: none;
    color: black;
}

a:PostPage {
    text-decoration: underline
} 
